body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

article {
    background-color: #1f1f1f;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

article h2 {
    margin-top: 0;
    color: #049e51;
}

.date {
    color: #888;
    font-style: italic;
}
.author{
    text-align: center;
}
footer {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #333;
}

footer p {
    margin: 0;
    color: #888;
}
img {
    width: 1000px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img1 {
    width: auto;
    height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}