/* Styles from Edu */
.contenedor {
    width: 90%;
    display: flex;
}
.noticias {
    width: 100%;
}
.img-noticia {
    max-width: 100%;
    height: auto;
}
.noticia-periodico {
    background-color: white;
    border: 1px solid gainsboro;
    padding: 20px;
    text-align: left;
    border-radius: 1rem;
}
.titulo-noticia {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.fecha-noticia {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}
.contenido-noticia {
    font-size: 16px;
    line-height: 1.6;
}
/* Comienza Parte de Johansit0 */
/* ¿Y este chat? */
.zoom-bg {
    margin: 1rem;
    height: 300px;
    width: 600px;
    border-radius: 16px;
    overflow: hidden;
}

.car-image {
    width: 100%;
    object-fit: fill;
    transition: 0.8s;
}

.zoom-bg:hover .car-image {
    transform: scale(1.8);
}

/* Termina parte de Johansit0  */

