/* Comienza Parte de Johansit0 */
.card-s {
    position: relative;
    height: 60vh;
    width: 90%;
    background-image: url('../img/bg-Colombia.jpeg');
    background-size: cover;
    background-position-x: 50%;
    border-radius: 1rem;
}

.card-s .title-s {
    position: absolute;
    left: 0;
    right: 0;
    
    bottom: 1rem;
    text-align: center;
    color: white;
    z-index: 1;
    transition: all .5s ease-in-out;
    font-family: "Splash", cursive;
    font-size: 2rem;
}
.card-s img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    opacity: 0;
    background: #00000000;
    transition: all .5s ease-in-out;
}


.card-s:hover .title-s{
    transform: scale(2);
}

.card-s:hover img{
    opacity: 1;
}

/* Termina parte de Johansit0  */