* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER */
.site-header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 50px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.info-menu {
    display: flex;
    flex-direction: column;
}

.info-menu h4 {
    margin-bottom: 1rem;
}

.info-menu ul {
    list-style: none;
}

.info-menu li {
    margin-bottom: 0.5rem;
}

.info-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.info-menu a:hover {
    color: #aaa;
}


/* Comienza Parte de Johansit0 */

.card-s {
    position: relative;
    height: 30rem;
    width: 18rem;
    background-image: url('../img/samurai-bg.jpg');
    background-size: cover;
    background-position-x: 50%;
}

.card-s img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #00000000;
    transition: all .5s ease-in-out;
}

.card-s h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    color: white;
    z-index: 1;
    transition: all .5s ease-in-out;
    background-color: #ffffff00;
    font-family: "Splash", cursive;
    text-align: center;
    font-size: 2rem;
}

.card-s:hover h1{
    transform: scale(1.8);
}

.card-s:hover img{
    opacity: 1;
}

/* Termina parte de Johansit0  */