* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER */
.site-header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 50px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #555;
    border-radius: 5px;
}



/* FOOTER */
.footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.info-menu {
    display: flex;
    flex-direction: column;
}

.info-menu h4 {
    margin-bottom: 1rem;
}

.info-menu ul {
    list-style: none;
}

.info-menu li {
    margin-bottom: 0.5rem;
}

.info-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.info-menu a:hover {
    color: #aaa;
}


/* Johansit0 */

.zoom-bg {
    margin: 1rem;
    height: 300px;
    width: 600px;
    border-radius: 16px;
    overflow: hidden;
}

.car-image {
    width: 100%;
    object-fit: fill;
    transition: 0.8s;
}

.zoom-bg:hover .car-image {
    transform: scale(1.8);
}