* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER */
.site-header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 50px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
    
}

.containerfooter { 
    max-width: 1200px;
    margin: 0 auto;
}
.containerfooter2{
    display: flex;
    flex-wrap: wrap;
   
}
.link{
    width: 25%;
    padding: 0 10%;
}

.link h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    border-bottom: 2px solid rgb(235, 37, 37);
    padding-bottom: 10px;
    display: inline-block;
}
.link ul li a{
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
    transition: all .3s ease;
    color: white;
}
.link ul li a:hover{
    color: blue;
    padding-left: 6px;
    
}

    
.iconos a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    font-size: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all .5s ease;
}

.iconos a:hover{
    background-color: blue;
}

@media(max-width: 991px){
    .containerfooter2{  
        text-align: center;
    }
    .link{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Main */
.contenedor-Mayor{
    display: flex;
}

/* Comienza Parte de Johansit0 */

.card-s {
    position: relative;
    height: 30rem;
    width: 18rem;
    background-image: url('../img/samurai-bg.jpg');
    background-size: cover;
    background-position-x: 50%;
}

.card-s .title-s {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: center;
    color: white;
    z-index: 1;
    transition: all .5s ease-in-out;
    font-family: "Splash", cursive;
    font-size: 2rem;
}
.card-s img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #00000000;
    transition: all .5s ease-in-out;
}

.card-s:hover .title-s{
    transform: scale(2);
}

.card-s:hover img{
    opacity: 1;
}

/* Termina parte de Johansit0  */
